 @import "tailwindcss";
@theme {
 
  --color-bgBlack:  #000000;
  --color-bgCardBlack:  #1C1C1C;
  --color-darkGrey:  #363636;
  --color-lightGrey:  #2C2C2C;
  --color-light:  #ffffff;
  --color-frost:  rgba(30, 30, 30, 0.5);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


